@{
    ViewData["Title"] = "Detalhes Request";
}

<table>
    <tr>
        <td>Protocol:</td>
        <td>@ViewBag.Protocol</td>
    </tr>
    <tr>
        <td>OriginalUrl:</td>
        <td>@ViewBag.OriginalUrl</td>
    </tr>
    <tr>
        <td>Remote Ip Address:</td>
        <td>@ViewBag.RemoteIpAddress</td>
    </tr>
    <tr>
        <td>Local Ip Address:</td>
        <td>@ViewBag.LocalIpAddress</td>
    </tr>
</table>